<script src="/js/profile.js"></script>
<div id="dashboard" class="full-page-h">
  <h1>Dashboard </h1>
</div>

<div id="users" class="full-page-h">
  <h1>users</h1>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">CIN</th>
        <th scope="col">Nome Complet</th>
        <th scope="col">Email</th>
        <th scope="col">Active</th>
        <th scope="col">Tutor</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      <%users.forEach((user)=>{ if(user.cin != 'zrs2500'){ %>


        <tr>
          <td>
            <%=user.id%>
          </td>
          <td>
            <%=user.cin%>
          </td>
          <td>
            <%=user.name%>
          </td>
          <td>
            <%=user.email%>
          </td>
          <td id="isActive_<%=user.cin%>">
            <%= user.isActive ? 'Oui' : 'Non' %>
          </td>

          <td>
            <%= user.isTutor ? 'Tutor' : 'Stagaire' %>
          </td>
          <td>

            <a class="btn btn-warning" href="/profile?id=<%=user.id%>&cin=<%=user.cin%>"> Modifier</a>
            <a id="activateProfile_<%=user.cin%>" class="btn  <%= user.isActive? 'btn-danger' : 'btn-primary' %>"
              onclick="activate_desactivate_profile(event,`<%= user.cin %>`)" href="#">
              <%= user.isActive? "Désactivé" : "Activé" %>
            </a>


          </td>
        </tr>

        <%} }) %>
    </tbody>
  </table>

</div>

<div id="sessions" class="full-page-h">
  <h1>Sessions</h1>

  <table class="table table-dark" style="  width:100%;">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Sujet</th>
        <th scope="col">Détails</th>
        <th scope="col">Date début</th>
        <th scope="col">Date fin</th>
        <th scope="col">Créateur de session</th>
        <th scope="col">tuteurs</th>
        <th scope="col">Date création de session</th>

        <th scope="col">Actions</th>


      </tr>
    </thead>
    <tbody>
      <%seances.forEach((s)=>{ %>


        <tr>
          <td>
            <%=s.id%>
          </td>
          <td>
            <%=s.sujet%>
          </td>
          <td>
            <%=s.details%>
          </td>
          <td>
            <%=s.date_debut%>
          </td>
          <td>
            <%=s.date_fin%>
          </td>
          <td>
            <%=s.creatorOfSession.name%>
          </td>
          <td>
            <%=s.tuteurs.join(';')%>
          </td>
          <td>
            <%=s.dateCreation%>
          </td>

          <td>
            <a class="btn btn-warning" href="/modifier_session?id=<%=s.id%>">Modifier</a>

          </td>
        </tr>

        <% }) %>
    </tbody>
  </table>
</div>