<head>
    <link rel="stylesheet" href="/js/dt/jquery.datetimepicker.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/dt/jquery.datetimepicker.js"></script>
    <script src="/js/addSeance.js"></script>
    <script src="/js/modifierSession.js"></script>

</head>
<div class="container-lg"
    style="width: 1000; background-color: whitesmoke;margin-top: 20px; border-radius: 20px; padding: 5px;">
    <form action="/modifier_session" method="POST">
        <h1 id="register">Modifier une session</h1><br>
        <p class="text-center text-danger">
            <% if (error) { %>
                <%= error %>
                    <% } %>
        </p>
        <div class="container d-flex" style="align-items: baseline;">
            <input type="text" id="idSession" name="idSession" class="form-control d-none" value="" />
            <div class="form-group" style="width: 50%; padding: 3px;">
                <small for="dtCreation">Création / modification de la Séance courante </small>
                <input type="text" id="dtCreation" name="dtCreation" class="form-control" value="" disabled />
            </div>
            <div class="form-group" style="width: 50%;padding: 3px;">
                <small for="createur">Créateur de la seance</small>
                <input type="text" id="createur" name="createur" class="form-control" value="" disabled />
            </div>

        </div>
        <div class="container d-flex">
            <div style="width: 50%; padding: 3px;">
                <div class="form-group">
                    <small for="sujet">Sujet </small>
                    <input type="text" id="id" name="id" class="form-control d-none" value="<%=session%>">

                    <input type="text" id="sujet" name="sujet" class="form-control" value="" required>
                </div>
                <div class="form-group">
                    <small for="details">Déscription</small>
                    <textarea class="form-control" id="details" name="details" rows="3"></textarea>
                </div>

            </div>

            <div style="width: 50%;padding: 3px;">
                <small for="dt">Date Début </small>
                <input type="text" id="dt" name="dt" class="form-control" value="<%=session.date_debut%>" required>

                <small for="dt2">Date Fin </small>
                <input type="text" id="dt2" name="dt2" class="form-control" value="<%=session.date_fin%>" required>


            </div>
        </div>

        <div class="d-flex" style="align-items: baseline;">
            <input type="text" id="emailTuteurs" name="emailTuteurs" class="client-info-sans-focus" style="width: 80%;"
                value="" required>
            <button type="button" class="btn btn-primary" style="height: 50px; width: 20%;" onclick="showAddTutor()">
                Ajouter un tuteur
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">List des tuteurs</h5>
                            <button type="button" class="close" onclick="hideAddTutor()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!--data -->
                            <table class="table table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">id</th>
                                        <th scope="col">CIN</th>
                                        <th scope="col">Nome Complet</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <%users.forEach((user)=>{ if(user.cin != 'zrs2500'){ %>


                                        <tr id="row_<%=user.id%>">
                                            <td>
                                                <%=user.id%>
                                            </td>
                                            <td>
                                                <%=user.cin%>
                                            </td>
                                            <td>
                                                <%=user.name%>
                                            </td>
                                            <td>
                                                <%=user.email%>
                                            </td>

                                            <td>

                                                <button type="button" class="btn btn-primary"
                                                    onclick="AjouterParmiTuteurs(<%=user.id%>)">Ajouter</button>


                                            </td>
                                        </tr>

                                        <%} }) %>
                                </tbody>
                            </table>



                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                onclick="hideAddTutor()">Close</button>
                            <!--<button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- fin modal-->
        </div>
        <input type="submit" id="submit" class="client-info" value="Modifier">

    </form>

</div>